In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/Clean_dataset_final.csv')
df

,Unnamed: 0,Age,Residents,Province,Interests,Shower,WashingMachine,DishWasher,EcoMode,WaterRecycling,...,Garden,Estimation,AnnualWaterFootprint,DiaryWaterFootprint,AnnualCost,DiaryCost,AnnualDirectWaterFootprint,DiaryDirectWaterFootprint,DirectAnnualCost,DirectDiaryCost
0,0,Entre 36 y 65 años,4,Madrid,Ayudar al ecosistema,Entre 5 y 10 minutos,Entre 3 y 5 veces,Entre 3 y 5 a la semana,A veces,No,...,0,Ni idea!,3329786,9122.70,6359891,17424.36,43195.66,118.34,82503.71,226.04
1,1,Entre 36 y 65 años,3,Segovia,Ayudar al ecosistema,Menos de 5 minutos,Menos de 3 veces,Entre 3 y 5 a la semana,Siempre,No,...,300,Ni idea!,2579292,7066.55,4926448,13497.12,13807.99,37.83,26373.25,72.26
2,2,Entre 36 y 65 años,2,Segovia,Ahorrar dinero,Menos de 5 minutos,Menos de 3 veces,Friego a mano,No sabía que existía ese modo,No,...,0,Ni idea!,2637263,7225.38,5037173,13800.47,148633.33,407.21,283889.67,777.78
3,3,Entre 18 y 35 años,2,Segovia,Ahorrar agua,Entre 5 y 10 minutos,Menos de 3 veces,Friego a mano,Siempre,No,...,0,Ni idea!,3329117,9120.87,6358613,17420.86,137632.99,377.08,262879.00,720.22
4,4,Entre 36 y 65 años,2,Madrid,Ahorrar agua,Entre 5 y 10 minutos,Menos de 3 veces,Friego a mano,A veces,Si,...,2,Entre 10€ y 40 €,2675268,7329.50,5109761,13999.35,143295.66,392.59,273694.71,749.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,1173,Entre 36 y 65 años,4,Madrid,Ahorrar agua,Entre 5 y 10 minutos,Entre 3 y 5 veces,Entre 3 y 5 a la semana,A veces,No,...,0,Ni idea!,3233950,8860.14,6176844,16922.86,43195.66,118.34,82503.71,226.04
1174,1174,Entre 36 y 65 años,5,Madrid,Ahorrar dinero,Menos de 5 minutos,Más de 5,Entre 3 y 5 a la semana,No sabía que existía ese modo,No,...,0,Entre 10€ y 40 €,2553493,6995.87,4877172,13362.12,64133.33,175.71,122494.67,335.60
1175,1175,Entre 18 y 35 años,3,Madrid,Conocer mi huella hídrica,Entre 11 y 15 minutos,Menos de 3 veces,Entre 3 y 5 a la semana,A veces,Buena idea! Voy a probarlo!,...,0,Entre 10€ y 40 €,3307657,9062.07,6317625,17308.56,20337.33,55.72,38844.29,106.42
1176,1176,Entre 18 y 35 años,4,Madrid,Ahorrar dinero,Entre 5 y 10 minutos,Entre 3 y 5 veces,Friego a mano,A veces,No,...,0,Entre 10€ y 40 €,3453286,9461.06,6595776,18070.62,166695.66,456.70,318388.71,872.30
1177,1177,Entre 36 y 65 años,5,Madrid,Ahorrar dinero,Entre 11 y 15 minutos,Entre 3 y 5 veces,Friego a mano,A veces,No,...,0,Más de 40 €,2700657,7399.06,5158255,14132.21,167237.33,458.18,319423.29,875.13

In [10]:
df['DishWasher'] = df['DishWasher'].replace('1 vez al día', '1 vez al día1')

In [11]:
df['DishWasher'].unique()

array(['Entre 3 y 5 a la semana', 'Friego a mano', '1 vez al día1'],
      dtype=object)

In [12]:
equivalencias = {'Menos de 5 minutos': 1.19,
                 'Entre 5 y 10 minutos': 2.07,
                 'Entre 11 y 15 minutos': 3.56,
                 'Más de 15 minutos': 5.93,
                 'Menos de 3 veces': 21.36,
                 'Entre 3 y 5 veces': 85.47,
                 'Más de 5': 128.21,
                 '1 vez al día1': 64.82,
                 'Entre 3 y 5 a la semana': 46.30,
                 'Friego a mano': 384.65,
                 '1 vez al día': 7680,
                 '1 vez cada 3 días': 5960,
                 '1 vez a la semana': 5630,
                 'Nunca!': 4060,
                 'Menos de 100 km': 82.91,
                 '100 - 200 km': 207.28,
                 'Más de 200 km': 345.47,
                 'No uso coche': 0,
                 'No tengo mascota': 0,
                 'Menos de 50 €': 524.19,
                 'Entre 50 y 100 €': 982.87,
                 'Más de 100 €': 1572.59}

In [13]:
df_equivalencias = df.replace({'Shower':equivalencias,
                               'WashingMachine':equivalencias,
                               'DishWasher':equivalencias,
                               'Meat':equivalencias,
                               'Gasoline':equivalencias,
                               'Pet':equivalencias
                               })

In [14]:
df_equivalencias

,Unnamed: 0,Age,Residents,Province,Interests,Shower,WashingMachine,DishWasher,EcoMode,WaterRecycling,...,Garden,Estimation,AnnualWaterFootprint,DiaryWaterFootprint,AnnualCost,DiaryCost,AnnualDirectWaterFootprint,DiaryDirectWaterFootprint,DirectAnnualCost,DirectDiaryCost
0,0,Entre 36 y 65 años,4,Madrid,Ayudar al ecosistema,2.07,85.47,46.30,A veces,No,...,0,Ni idea!,3329786,9122.70,6359891,17424.36,43195.66,118.34,82503.71,226.04
1,1,Entre 36 y 65 años,3,Segovia,Ayudar al ecosistema,1.19,21.36,46.30,Siempre,No,...,300,Ni idea!,2579292,7066.55,4926448,13497.12,13807.99,37.83,26373.25,72.26
2,2,Entre 36 y 65 años,2,Segovia,Ahorrar dinero,1.19,21.36,384.65,No sabía que existía ese modo,No,...,0,Ni idea!,2637263,7225.38,5037173,13800.47,148633.33,407.21,283889.67,777.78
3,3,Entre 18 y 35 años,2,Segovia,Ahorrar agua,2.07,21.36,384.65,Siempre,No,...,0,Ni idea!,3329117,9120.87,6358613,17420.86,137632.99,377.08,262879.00,720.22
4,4,Entre 36 y 65 años,2,Madrid,Ahorrar agua,2.07,21.36,384.65,A veces,Si,...,2,Entre 10€ y 40 €,2675268,7329.50,5109761,13999.35,143295.66,392.59,273694.71,749.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,1173,Entre 36 y 65 años,4,Madrid,Ahorrar agua,2.07,85.47,46.30,A veces,No,...,0,Ni idea!,3233950,8860.14,6176844,16922.86,43195.66,118.34,82503.71,226.04
1174,1174,Entre 36 y 65 años,5,Madrid,Ahorrar dinero,1.19,128.21,46.30,No sabía que existía ese modo,No,...,0,Entre 10€ y 40 €,2553493,6995.87,4877172,13362.12,64133.33,175.71,122494.67,335.60
1175,1175,Entre 18 y 35 años,3,Madrid,Conocer mi huella hídrica,3.56,21.36,46.30,A veces,Buena idea! Voy a probarlo!,...,0,Entre 10€ y 40 €,3307657,9062.07,6317625,17308.56,20337.33,55.72,38844.29,106.42
1176,1176,Entre 18 y 35 años,4,Madrid,Ahorrar dinero,2.07,85.47,384.65,A veces,No,...,0,Entre 10€ y 40 €,3453286,9461.06,6595776,18070.62,166695.66,456.70,318388.71,872.30
1177,1177,Entre 36 y 65 años,5,Madrid,Ahorrar dinero,3.56,85.47,384.65,A veces,No,...,0,Más de 40 €,2700657,7399.06,5158255,14132.21,167237.33,458.18,319423.29,875.13

In [24]:
df_equivalencias['DirectDiaryCost'].mean()

334.94454159592533