In [11]:
#!pip install PyMySQL
#!python -m pip install --upgrade pip


import numpy as np
import pandas as pd

In [4]:
from dotenv import load_dotenv
import os

load_dotenv()

True

In [5]:
db_name = os.environ["db_name"]
username = os.environ["username"]
password = os.environ["password"]
host = os.environ["host"]
port = os.environ["port"]

### Connect to DB

In [7]:
'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas.
'''
db = pymysql.connect(host=host,
                     user=username,
                     password=password,
                     cursorclass=pymysql.cursors.DictCursor)

# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db.cursor()

### Create DB

In [8]:
create_db = '''CREATE DATABASE water_footprint_database'''
cursor.execute(create_db)

1

In [9]:
create_db

'CREATE DATABASE water_footprint_database'

In [10]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'},
 {'Database': 'water_footprint_database'}]

### Select DB we want to use

In [18]:
cursor.connection.commit()
use_db = ''' USE water_footprint_database'''
cursor.execute(use_db)

0

## Create a table with following format:

In [16]:
df = pd.read_csv("../ML/data/df_ML_optimal.csv")
df.head()

   Interests  WaterRecycling  GeneralRecycling  Meat  Garden_No  Garden_Yes
0          0               1                 0     1          1           0
1          0               1                 1     1          0           1
2          2               1                 1     0          1           0
3          0               1                 1     1          1           0
4          0               0                 0     1          0           1

In [19]:
# crear una tabla que se llame country
create_table = '''
CREATE TABLE consumer (
id INT NOT NULL auto_increment,
Interests INT,
WaterRecycling INT,
GeneralRecycling INT,
Meat INT,
Garden_No INT,
Garden_Yes INT,
primary key (id)
)
'''

cursor.execute(create_table)

0

In [20]:
# checkear todas las tablas que tiene mi db
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_water_footprint_database': 'consumer'}]