### Accessing footprint API


We are going to access data from the following API: https://api.footprintnetwork.org/v1/types

In order to not compromise our API KEY and publish it in Github we will store it in a .env file and ignore it with .gitignore.

We will use `load_dotenv` and `os` to access our key from .env file.

In [63]:
import requests
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()

API_KEY = os.environ["API_KEY_FOOTPRINT"]
USER = os.environ["USER"]
print("hello")

hello

In [64]:
url = 'https://api.footprintnetwork.org/v1/types'
user_name = USER
headers = {"HTTP_ACCEPT":"application/json"}

response = requests.get(url, auth=(user_name, API_KEY), headers=headers)

print('Status code:', response.status_code)


types = response.json()
print(types)
types = pd.DataFrame(types)
types

Status code: 200
[{'record': 'BiocapPerCap', 'code': 'BCpc', 'note': 'Biocapacity divided by population in global hectares (gha)', 'name': 'Biocapacity per person'}, {'record': 'BiocapTotGHA', 'code': 'BCtot', 'note': 'Total biocapacity in global hectares (gha)', 'name': 'Biocapacity'}, {'record': 'EFConsPerCap', 'code': 'EFCpc', 'note': 'Ecological Footprint of consumption in global hectares (gha) divided by population', 'name': 'Ecological Footprint per person'}, {'record': 'EFConsTotGHA', 'code': 'EFCtot', 'note': 'Total Ecological Footprint of consumption in global hectares (gha)', 'name': 'Ecological Footprint'}, {'record': 'BiocapTotGHA', 'code': 'earth', 'note': 'EFConsPerCap of Country / EFConsPerCap of World', 'name': 'Earths'}, {'record': 'Population', 'code': 'pop', 'note': 'Population', 'name': 'Population'}, {'record': 'HDI', 'code': 'hdi', 'note': 'Human Development Index; Source: Trends in the Human Development Index, 1990-2017, downloaded 04/05/2019 from http://hdr.undp.org/en/data', 'name': 'Human Development Index'}, {'record': 'GDP', 'code': 'gdp', 'note': 'GDP per capita (constant 2010 US$); Source: World Bank, downloaded 03/13/2019 from  http://data.worldbank.org/indicator/NY.GDP.PCAP.KD', 'name': 'Gross Domestic Product'}]

,record,code,note,name
0,BiocapPerCap,BCpc,Biocapacity divided by population in global he...,Biocapacity per person
1,BiocapTotGHA,BCtot,Total biocapacity in global hectares (gha),Biocapacity
2,EFConsPerCap,EFCpc,Ecological Footprint of consumption in global ...,Ecological Footprint per person
3,EFConsTotGHA,EFCtot,Total Ecological Footprint of consumption in g...,Ecological Footprint
4,BiocapTotGHA,earth,EFConsPerCap of Country / EFConsPerCap of World,Earths
5,Population,pop,Population,Population
6,HDI,hdi,Human Development Index; Source: Trends in the...,Human Development Index
7,GDP,gdp,GDP per capita (constant 2010 US$); Source: Wo...,Gross Domestic Product

In [65]:
url = 'https://api.footprintnetwork.org/v1/countries'
user_name = USER
headers = {"HTTP_ACCEPT":"application/json"}

response = requests.get(url, auth=(user_name, API_KEY), headers=headers)

print('Status code:', response.status_code)


countries = response.json()

Status code: 200

In [55]:
df = pd.DataFrame(countries)
df

             shortName countryCode      countryName isoa2 score
0              Armenia           1          Armenia    AM    3A
1          Afghanistan           2      Afghanistan    AF    3A
2              Albania           3          Albania    AL    3A
3              Algeria           4          Algeria    DZ    3A
4               Angola           7           Angola    AO    3A
..                 ...         ...              ...   ...   ...
215    · Southern Asia        1017    Southern Asia
216  · Southern Europe        1018  Southern Europe
217   · Western Africa        1019   Western Africa
218     · Western Asia        1020     Western Asia
219   · Western Europe        1021   Western Europe

[220 rows x 5 columns]

In [56]:
# Get info about Spain
filtered_df = df[df['shortName'] == 'Spain']
filtered_df

    shortName countryCode countryName isoa2 score
150     Spain         203       Spain    ES    3A

In [57]:
url = 'https://api.footprintnetwork.org/v1/data/203'
user_name = USER
headers = {"HTTP_ACCEPT":"application/json"}

response = requests.get(url, auth=(user_name, API_KEY), headers=headers)

print('Status code:', response.status_code)


spain = response.json()
spain = pd.DataFrame(spain)
spain

Status code: 200

,year,shortName,countryCode,countryName,isoa2,record,cropLand,grazingLand,forestLand,fishingGround,builtupLand,carbon,score,value
0,1961,Spain,203,Spain,ES,AreaPerCap,0.762432,0.407390,0.289255,0.245642,0.027787,0.0,3A,1.732505e+00
1,1962,Spain,203,Spain,ES,AreaPerCap,0.757759,0.400085,0.288254,0.242908,0.027787,0.0,3A,1.716793e+00
2,1963,Spain,203,Spain,ES,AreaPerCap,0.749642,0.392448,0.289361,0.240147,0.027787,0.0,3A,1.699386e+00
3,1964,Spain,203,Spain,ES,AreaPerCap,0.731288,0.384482,0.288260,0.237434,0.027787,0.0,3A,1.669252e+00
4,1965,Spain,203,Spain,ES,AreaPerCap,0.724619,0.377557,0.287226,0.234817,0.027787,0.0,3A,1.652006e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2014,Spain,203,Spain,ES,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.677790e+07
896,2015,Spain,203,Spain,ES,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.667190e+07
897,2016,Spain,203,Spain,ES,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.663410e+07
898,2017,Spain,203,Spain,ES,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.664740e+07
899,2018,Spain,203,Spain,ES,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.669290e+07

In [58]:
spain.isna().sum()

year               0
shortName          0
countryCode        0
countryName        0
isoa2              0
record             0
cropLand         146
grazingLand      146
forestLand       146
fishingGround    146
builtupLand      146
carbon           146
score            146
value              0
dtype: int64